.bgBlueTheme {
  background: #2d92f19e;
}
.noBtnBorder {
  border: none;
}

.blueDevideLine {
  border: 3px solid #2d92f19e;
  width: auto;
  margin: 2px;
}

.centerItem {
  display: flex;
  justify-content: center;
}

.tourFilterAndTrash {
  display: flex;
  flex-direction: column;
}
.tourFilterBoxes {
  justify-content: center;
}

.createTour {
  padding: 4px;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  border: solid 1px black;
}

.filterByNameBox {
  width: 400px;
  margin-left: 40px;
  /* flex-basis: 50%; */
}
.trashCanBtn {
  width: 400px;
  margin-right: 40px;
  /* flex-basis: 50%; */
}

.createdVirtualToursHead {
  margin: 4px;
  padding: 4px;
}

.tourDisplaySect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button1:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.bkgd {
  background: rgb(255, 255, 255);
}

.margin4 {
  margin: 4px;
}

.createphotoAlbum {
  padding: 10px;
  border-radius: 5px;
}
