.tourCard {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-basis: 90%; */
  justify-content: space-evenly;
  border: solid black 1px;
  margin: 20px;
  padding: 8px;
  flex-shrink: inherit;
  background: rgb(255, 255, 255);
  /* width: 1500px; */
  border-radius: 5px;
  box-shadow: 5px 10px 7px #00000056;
}

.tourEditBtns {
  display: flex;
  flex-direction: column;
  margin: 4px;
  padding: 8px;
}

.tourName {
  /* border: solid black 1px; */
  margin: 4px;
  padding: 8px;
  text-align: center;
}

.tourDescription {
  border: solid black 1px;
  width: 500px;
  height: auto;
  margin: 4px;
  padding: 8px;
  border-radius: 5px;
}

.deleteTourBtn {
  background: rgb(255, 0, 0);
}

.gap {
  margin: 4px;
}

.trash {
  margin: 8px;
}

.createTourBtn {
  display: flex;
  justify-content: center;
  padding: 4px;
}
