.tourCardDeleted {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: solid black 1px;
  margin: 20px;
  padding: 4px;
  flex-shrink: inherit;
  /* background: rgba(228, 228, 228, 0.516); */
  width: 95%;
}

.tourEditBtns {
  display: flex;
  flex-direction: column;
  margin: 4px;
  padding: 8px;
}

.tourName {
  /* border: solid black 1px; */
  margin: 4px;
  padding: 8px;
  text-align: center;
}

.tourDescription {
  border: solid black 1px;
  width: 500px;
  height: auto;
  text-align: center;
  margin: 4px;
  padding: 8px;
}

.deleteTourBtn {
  background: rgb(255, 0, 0);
}

.gap {
  margin: 4px;
}
