.aframebox {
  margin: 10px;
  height: 506px;
  width: 900px;
  border: solid black 1px;
  box-shadow: 5px 10px 7px #888888;
}

.App {
  text-align: left;
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alignRight {
  justify-self: center;
}

.imageSaveBtn {
  display: flex;
  flex-direction: row;
}

.createTourFormFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name {
  margin: 4px;
  width: 600px;
  height: 40px;
  text-align: center;
}
#description {
  margin: 4px;
  width: 600px;
  height: 40px;
  text-align: center;
}

.imageSaveBtn {
  padding: 4px;
}

.addImageFormFields {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: solid black 1px;
  padding: 4px;
  box-shadow: 5px 10px 7px #888888;
  width: 900px;
}

.imgPreviewHeader {
  margin: 10px;
  padding: 4px;
}

.saveImgSect {
  margin: 10px;
  padding: 4px;
  border: solid black 1px;
  box-shadow: 5px 10px 7px #888888;
  width: 900px;
}

.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
