.tourImages {
  display: flex;
  flex-wrap: wrap;
}

.tourImageSect {
  border: black 1px solid;
  margin: 4px;
  padding: 8px;
}

.sepImage {
  flex-shrink: 3;
  flex-basis: 10%;
  padding: 8px;
  margin: 15px;
  box-shadow: 5px 10px 7px #888888;
  background: #c2cad0;
}

.descriptionBox {
  height: 200px;
  word-wrap: break-word;
}

.submitBtn {
  margin: 4px;
}

.editAddNewImg {
  border: black 1px solid;
  margin: 4px;
  padding: 8px;
}

.tourContent {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: black 1px solid;
  margin: 4px;
  padding: 8px;
}

.deleteTourBtn:hover {
  color: white;
  cursor: pointer;
}
