.tourImages {
  display: flex;
  flex-direction: row;
}

.tourImageSect {
  border: black 1px solid;
  margin: 4px;
  padding: 8px;
}

.sepImage {
  padding: 8px;
  margin: 15px;
  box-shadow: 5px 10px 7px #888888;
}

.descriptionBox {
  height: 200px;
  word-wrap: break-word;
}

.submitBtn {
  margin: 4px;
}

.editAddNewImg {
  border: black 1px solid;
  margin: 4px;
  padding: 8px;
}

.tourContent {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: black 1px solid;
  margin: 4px;
  padding: 8px;
}

.Desc {
  min-height: 400px;
}

.imageDisplaySect {
  display: flex;
  flex-direction: row;
}

.imageCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: solid black 1px;
  margin: 20px;
  padding: 8px;
  flex-shrink: inherit;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 5px 10px 7px #00000056;
}
