small {
  font-size: 75%;
}

nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 0;
  background: #2d92f1;
  border: black 1px solid;
}

nav .container li {
  /* flex: 1; */
  padding: 10px;
  /* text-align: right; */
  font-size: 1em;
  color: cornsilk;
  box-sizing: border-box;
  list-style-type: none;
}

.nav-link {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 160px;
  height: 80px;
}

.nav-link:hover {
  color: maroon;
}

a:link {
  /* Essentially means a[href], or that the link actually goes somewhere */
  color: red;
}
