.aframebox1 {
  height: 720px;
  width: 1200px;
  box-shadow: 5px 10px 7px #888888;
  margin-top: 10px;
}

.tourViewerSect {
  display: flex;
  flex-direction: column;
}

.move {
  align-self: center;
}

.tourImageLinks1 {
  margin: 8px;
  display: flex;
  justify-content: center;
}

.imageBtns {
  margin: 4px;
  /* box-shadow: 5px 5px 7px #888888; */
}

.viewerDescription {
  width: 55%;
  border: black solid 1px;
  padding: 10px;
}

.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 28px;
  left: 16px;
  font-size: 18px;
}
.topright {
  position: absolute;
  bottom: 10px;
  right: 16px;
}
.tourTitle {
  background: white;
  margin-left: 4px;
  padding: 4px;
  position: absolute;
  top: 8px;
  left: 18px;
  border-radius: 4px;
}

.vrImageViewer {
  display: flex;
  flex-shrink: initial;
}

.smallText {
  font-size: 0.7em;
}
